body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 71px 20px 68px 12px;
}

/* definiendo el tipo de letra para dos etiquetas de la pagina */
.header-title,
.profession {
  font-family: 'PT Serif', serif;
}

.header {
  display: grid;
  margin: 0;
}

.header-title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.045em;
}

.description-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.045em;
  padding: 0;
  margin: 38px 0 10px 0;
}

.description {
  font-size: 14px;
  margin-bottom: 80px;
}

.target-bottom {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5.5px;
  grid-row-gap: 25px;
}

.profession {
  /* border: 1px solid red; */
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.name {
  font-weight: 600;
  font-size: 14px;
}
